html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	border: 0px;
	}

body {
	position: static;
	}

#container {
	position: relative;
	margin: 0;
	width: 100%;
	min-height: 100%;
	border: 0px;
	padding: 0px;
	}

#header {
	margin-top: 0px;
	background-color: rgb(242, 113, 0); /** couleur de la bannière **/
	height: 100px;
	line-height: 100px;
	/**	font-family: 'Muli', sans-serif; **/
	color: white;
	font-family: 'Josefin Sans', sans-serif;
  	font-size: 50px;
  	text-align: center;
	margin-bottom: 30px;
  }

#main {
  	width: 80%;	/** 60% si photo, 80% sinon **/
  	margin-left: auto; /** 15% si photo, auto sinon **/
  	margin-right: auto; /** 25% si photo, auto sinon **/
	/**	font-family:'Muli', sans-serif; **/
	font-family: 'Josefin Sans', sans-serif;
	text-align: justify;
	margin-bottom: 30px;
  }

p {
  padding-left: 1em;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 10px;
  }

p.separator {
	color: white;
	font-family: 'Muli', sans-serif;
	text-align: center;
}

h2 {
	font-size: 40px;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: 400;
  }

#footer {
	background-color: rgb(242, 113, 0);  /** couleur du footer **/
  color: white;
  bottom: 0px;
	font-weight: 300;
  text-align: center;
  width: 100%;
  /**	font-family:'Muli', sans-serif; **/
	font-family : 'Josefin Sans', sans-serif;
	font-size: 17px;
	position: absolute;
	height: auto;
  }

#separator {
	height: 30px;
	color: rgb(250, 250, 250);
	background-color: rgb(250, 250, 250);
}

#right_photo {
	float: right;
	position: absolute; /* ne peux pas fonctionner car width et height en % */
	width: 10%;
	height: 10%;
	top: 20%;
	right: 5%;
	}

#signature {
	width: 100%;
	top: 80%;
	position: relative;
	text-align: right;
	}

p.signature {
	margin-left: 80%;
	font-family: 'Homemade Apple', cursive;
}
