header {
	margin-top: 20px;
	background-color: rgb(150, 150, 150);
	width: auto;
	height: 100px;
	line-height: 100px;
	color: white;
	font-family: monospace;
        font-size: 50px;
        text-align: center;
        }

footer {
	background-color: rgb(150, 150, 150);
        color: white;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        font-family: monospace;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 15px;
	margin-bottom: 20px;
        }

main {
        font-size: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
				font-family: 'calibri';
        }

p {

        padding-left: 1em;
        }

h2 {
        margin-left: auto;
        margin-right: auto;
        }
body {
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	}
