header {
	margin-top: 8px;
	background-color: rgb(150, 150, 150);
	width: auto;
	height: 100px;
	line-height: 100px;
	color: white;
	font-family: 'Muli', sans-serif;
  font-size: 50px;
  text-align: center;
	margin-bottom: 30px;
  }

footer {
	background-color: rgb(150, 150, 150);
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family:'Muli', sans-serif;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 17px;
	margin-bottom: 10px;
  }

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
	font-family:'Muli', sans-serif;
	text-align: justify;
  }

p {
  padding-left: 1em;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
  }

h2 {
	font-size: 40px;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 10px;
	margin-top: 20px;
	font-weight: 400;
  }

body {
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	}
